{{template "header" .}}
<div class="page-title-jumbotron">
    <div class="container">
        <h1 style="display: inline-block; margin-right: 25px">Challenges</h1>
        <div class="" style="display: inline-block;">
            <div class="checkbox" style="margin-top: 0;">
                <label>
                    <input id="js-filter-solved-checkbox" type="checkbox" checked>Show solved
                </label>
            </div>
            <input id="js-filter-challenges-input" type="text" class="form-control" placeholder="Search" style="width: 350px; border-radius: 0px; height: 30px;">
        </div>
    </div>
</div>

<div id="js-content"></div>

<script type="text/javascript">
    var challenges = {{.Problems}};
    var challengesSolvedIds = {{.ProblemsSolvedIds}};

    for(var j = 0; j < challenges.length; j++) {
        challenges[j].solved = false;
        for(var i = 0; i < challengesSolvedIds.length; i++) {
            if(challenges[j].id == challengesSolvedIds[i]) {
                challenges[j].solved = true;
                break;
            }
        }
    }

    challenges = challenges.sort(function(a, b) { return a.id - b.id; });
</script>

{{template "commonJs"}}

<script src="/js/challenges.js"></script>

{{template "footer" .}}
